* {
    color: #363636;
}

hr {
    background-color: #f5f5f5;
    border: none;
    display: block;
    height: 2px;
    margin: 1.5rem 0;
}

b {
    font-size: 1.5rem;
    padding: 12px;
}

h4 {
    margin: 0;
}

.main {
    border-radius: 6px;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 10%);
    padding: 1.25rem;
    color: #363636;
    width: 50%;
    margin: 0 auto;
}

.titulo {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    padding: 12px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.help {
    display: block;
    font-size: .75rem;
    margin-top: 0.25rem;
}

.column-valor {
    float: left;
    width: 185px;
    padding: 12px;
}

.column-numero-recibo,
.column-data,
.column-cep {
    float: right;
    width: 185px;
    padding: 12px;
}

.column-contratante,
.column-cpf-cnpj,
.column-referente-a,
.column-prestador-servico,
.column-endereco {
    padding: 12px;
}

.input-contratante,
.input-referente-a,
.input-prestador-servico,
.input-endereco {
    width: 98%;
}

.column-cpf-cnpj {
    width: 400px;
}

.input-cpf-cnpj {
    width: 250px;
}

.column-numero {
    float: left;
    width: 210px;
    padding: 12px;
}

.input-numero {
    width: 200px;
}

.column-bairro {
    float: left;
    width: 550px;
    padding: 12px;
}

.input-bairro {
    width: 540px;
}

.column-cidade-prestador {
    float: left;
    width: 385px;
    padding: 12px;
}

.column-estado {
    float: left;
    width: 150px;
    padding: 12px;
}

.column-cep {
    float: right;
    width: 185px;
    padding: 12px;
}

.input-cidade-prestador {
}

.column-telefone,
.column-cidade {
    float: left;
    width: 380px;
    padding: 12px;
}

.input-telefone,
.input-cpf-cnpj-prestador-servico,
.input-cidade-prestador,
.input-cidade,
.input-data {
    width: 365px;
}

.column-cpf-cnpj-prestador,
.column-data {
    float: right;
    width: 380px;
    padding: 12px;
}

.column-forma-pagamento {
    margin-top: 20px;
    margin-bottom: 12px;
}

.column-duas-vias {
    margin-bottom: 12px;
}

.label-forma-pagamento,
.label-duas-vias {
    margin-left: 8px;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.checkbox,
.radio {
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    position: relative;
    margin-left: 8px;
}

.botao-gerar-recibo {
    padding: 12px;
}