* {
    color: #363636;
}

.main {
    border-radius: 6px;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%),
        0 0 0 1px rgb(10 10 10 / 10%);
    padding: 1.25rem;
    color: #363636;
    width: 60%;
    margin: 0 auto;
}

.titulo {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

.column-valor {
    width: 50%;
    text-align: left;
    float: left;
}

.column-numero-recibo {
    width: 50%;
    text-align: right;
    float: right;
}

.input-contratante {
    width: 100%;
}

.input-referente-a {
    width: 100%;
}

.column-cidade {
    width: 50%;
    text-align: left;
    float: left;
}

.column-data {
    width: 50%;
    text-align: right;
    float: right;
}

.nome-prestador-servico {
    width: 100%;
}

.endereco {
    width: 100%;
}

.column-numero {
    width: 25%;
    text-align: left;
    float: left;
}

.column-bairro {
    width: 75%;
    text-align: right;
    float: left;
}

.label-bairro {
    width: 100%;
}

.column-cidade-estado-cep {
    width: 50%;
    text-align: left;
    float: left;
}

.column-estado {
    width: 25%;
    text-align: right;
    float: left;
}

.colum-cep {
    width: 25%;
    text-align: right;
    float: right;
}

.colum-telefone {
    width: 50%;
    text-align: left;
    float: left;

}

.colum-cpf-cnpj {
    width: 50%;
    text-align: right;
    float: right;
}

.input-telefone {
    width: 90%;
}
.input-cpf-cnpj {
    width: 90%;
}

.input-cidade {
    width: 90%;
}

.input-estado {
    width: 83%;
}

.input-cep {
    width: 83%;
}